In [9]:
# shift + enter : cell 실행 후 한 줄 더 생성
# ctrl + enter : 제자리에서 실행

In [29]:
a = 1

In [28]:
a += 1
print(a)

20

In [30]:
# 자료형 - 숫자형

In [31]:
2**3

8

In [32]:
5/3

1.6666666666666667

In [33]:
int(5/3)

1

In [34]:
5//3

1

In [35]:
5%3

2

In [159]:
news1 = """마우산은 탄소연대측정법 결과 이 시신은 1000년 된 것이라며, 지구상에 존재하는 어떤 다른 존재와도 관련 없는 비(非) 인간 존재라고 주장했다.그러면서 “만약 DNA 검사 결과 인간이 아닌 존재이고, 세상에 이와 같은 존재가 없다는 것을 보여준다면 그렇게 받아들여야 한다”고 강조했다."""
news1

'마우산은 탄소연대측정법 결과 이 시신은 1000년 된 것이라며, 지구상에 존재하는 어떤 다른 존재와도 관련 없는 비(非) 인간 존재라고 주장했다.그러면서 “만약 DNA 검사 결과 인간이 아닌 존재이고, 세상에 이와 같은 존재가 없다는 것을 보여준다면 그렇게 받아들여야 한다”고 강조했다.'

In [42]:
str1 = "hi"
str1*3

'hihihi'

In [48]:
"="*4

'===='

In [50]:
a = [1, 2, 3, 4]
len(a)

4

In [51]:
a = "hello"
len(a)

5

In [52]:
a[1]

'e'

In [53]:
a[4], a[-1]

('o', 'o')

In [54]:
a[1:3]

'el'

In [56]:
a[2:]

'llo'

In [57]:
a[:1]

'h'

In [58]:
a[0]

'h'

In [59]:
a[:]

'hello'

In [68]:
phone_num = "010-1234-5678"
#pn = 12345678
pn = phone_num[4:8] + phone_num[9:]
pn

'12345678'

In [70]:
a = "hello"
a[1] = "a"
a

TypeError: 'str' object does not support item assignment

In [71]:
hello = a[:1] + "a" + a[2:]
hello

'hallo'

In [72]:
res = 10
print("answer: [%d]"%res)

answer: [10]

In [73]:
res = "olleh" #hello
print("answer: [%s]"%res)

answer: [olleh]

In [87]:
#(0.1) 2
#(0.2) 3
#(0.3) 4
res2 = [0,0,0,0,0]
res2[1] = 2
res2[2] = 3
res2[3] = 4

for j in range(1, 4):
    print("(0.%d)%d" %(j, res2[j]))

(0.1)2
(0.2)3
(0.3)4

In [88]:
print("농도가 98%입니다.")

농도가 98%입니다.

In [89]:
print("농도가 %d%%입니다"%98)

농도가 98%입니다

In [92]:
"%s" % "hi"

'hi'

In [93]:
"%10s" % "hi"

'        hi'

In [94]:
"%-10s" % "hi"

'hi        '

In [103]:
#이름, 11번째 자리에 n, 15번째 자리에 m
name = "오동"
n = 10
m = 20
"%-10s%-4d%d" %(name, n, m)

'오동        10  20'

In [99]:
res = 3.42134234
"%.4f" % res

'3.4213'

In [101]:
1/3

0.3333333333333333

In [102]:
res = 1/3
"%.4f" % res

'0.3333'

In [108]:
a = 1
b = 2
"값:{0}, 값:{1}".format(a, b),"값:{1}, 값:{0}".format(a, b)

('값:1, 값:2', '값:2, 값:1')

In [110]:
"값:{first},값:{second}".format(first = a, second = b)

'값:1,값:2'

In [111]:
name = "오동"
satis_pred = 98.1#예상 만족도
print(f"{name}고객님 께서 다음 상품에 대해 {satis_pred} 정도 만족하실 것 같아요")

오동고객님 께서 다음 상품에 대해 98.1 정도 만족하실 것 같아요

In [112]:
#코딩 테스트(자동화), 과제, 화이트보드 테스트(수동 체점)

In [113]:
a = "my hobby"
a.count('b')

2

In [114]:
a.find('b')

5

In [117]:
" to the ".join('abc')

'a to the b to the c'

In [118]:
a = " hi "
a.lstrip()

'hi '

In [121]:
a = "**^^**"
a.strip("*")

'^^'

In [136]:
a = "hello"
a = a.replace("e", "a")
a

'hallo'

In [128]:
pn = "010-1234-5678"
pn.split("-")

['010', '1234', '5678']

In [129]:
#[ , , ]: JS = 배열, 파이썬 = 리스트

In [137]:
a = "hello"
a2 = a.replace("e", "a")
a, a2

('hello', 'hallo')

In [140]:
a = [1, 4, 2, 6, 3]
a.sort()
a

[1, 2, 3, 4, 6]

In [141]:
a = [1, 4, 2, 6, 3]
a2 = sorted(a)
a, a2

([1, 4, 2, 6, 3], [1, 2, 3, 4, 6])

In [142]:
a = [1, 2,[3, 4]]
a

[1, 2, [3, 4]]

In [143]:
a[0], a[1], a[2][0], a[2][1]

(1, 2, 3, 4)

In [144]:
2 + "3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [145]:
str(2) + "3"

'23'

In [152]:
a = ["h", "e", "i", "i", "o"]
a[1] = "a"
a

['h', 'a', 'i', 'i', 'o']

In [153]:
del a[1]
a

['h', 'i', 'i', 'o']

In [155]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [157]:
a = ["엑셀cell데이터 입력", "마우스 포인터 움직임", "키보드 엔터"]
a.append("전원끄기")
a

['엑셀cell데이터 입력', '마우스 포인터 움직임', '키보드 엔터', '전원끄기']

In [158]:
a = ["엑셀cell데이터 입력", "마우스 포인터 움직임", "키보드 엔터"]
a.insert(0, "전원끄기")
a

['전원끄기', '엑셀cell데이터 입력', '마우스 포인터 움직임', '키보드 엔터']

In [161]:
a = ["사장 업무 지시", "과장 업무 지시", "대리 업무 지시"]
a.insert(0, "이사 업무 지시")
a

['이사 업무 지시', '사장 업무 지시', '과장 업무 지시', '대리 업무 지시']

In [163]:
a = [10, 20, 30, 40]
del a[1] #20 삭제
a

[10, 30, 40]

In [164]:
a = [10, 20, 30, 40]
a.remove(20) #20 삭제
a

[10, 30, 40]

In [165]:
a.remove(20)
a

ValueError: list.remove(x): x not in list

In [173]:
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [174]:
a = [1, 2, 3]
a.pop(0)
a

[2, 3]

In [176]:
# JS 객체
# dic = {'name': 'pey',
#        'phone' : '010-9999-5555',
#        'birth' : '1118'}
dic = {'name' : 'pey',
       'phone' : '010-9999-5555',
       'birth' : '1118'}

In [177]:
dic["hobby"] = "swiming"
dic

{'name': 'pey', 'phone': '010-9999-5555', 'birth': '1118', 'hobby': 'swiming'}

In [178]:
dic["name"]

'pey'

In [179]:
dic = {'name' : 'pey',
       'phone' : '010-9999-5555',
       'birth' : '1118',
      "name" : 'kim'}
dic["name"]

'kim'

In [180]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [181]:
dic.values()

dict_values(['kim', '010-9999-5555', '1118'])

In [182]:
dic.items()

dict_items([('name', 'kim'), ('phone', '010-9999-5555'), ('birth', '1118')])

In [183]:
dic["name"], dic.get("name")

('kim', 'kim')

In [186]:
dic.get["hobby"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [187]:
dic.get("hobby","books")

'books'

In [188]:
"hobby" in dic

False

In [189]:
"name" in dic

True

In [190]:
#JS : set 집합

In [191]:
1 > 2

False

In [196]:
if (false):
    print("이건 실행 못 하겠네")

NameError: name 'false' is not defined

In [197]:
a = [1, 2, 3]
b = a
b[1] = 20
a

[1, 20, 3]

In [198]:
a = [1, 2, 3]
b = a[:]
b[1] = 20
a

[1, 2, 3]

In [199]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
b[1] = 20
a

[1, 2, 3]

In [202]:
a = 1
b = 2
a,b = (1, 2)
a,b

(1, 2)

In [204]:
(a, b) = 1, 2
a, b

(1, 2)

In [205]:
a, b = 1,2 
a, b

(1, 2)

In [207]:
a = 0
b = 0
a = b = 0
a, b

(0, 0)

In [209]:
x = 1
y = 2
x, y = y, x
x, y

(2, 1)

In [210]:
my_money = 20000
taxi_pay = 10000
if my_money >= taxi_pay : #{
    print("택시를")
    print("타고")
    print("가자")
#}

택시를
타고
가자

In [211]:
if my_money >= taxi_pay :
    print("택시를")
print("타고")
    print("가자")

IndentationError: unexpected indent (601032176.py, line 4)

In [212]:
if 3>2 && 4>3
if 3>2 and 4>3 :

SyntaxError: invalid syntax (3599158736.py, line 1)

In [213]:
if True and True :
    print("ok")

ok

In [217]:
if True or True:
    print("ok")

ok

In [219]:
dict1 = {"key1":1, "key4":4, "key2":2}
"key4" in dict1

True

In [223]:
list1 = [1, 4, 2]
4 in list1

True

In [224]:
if (~~~){
    // 여기다 이거저거
}
if ~~~:
    pass

SyntaxError: invalid syntax (3283030406.py, line 1)

In [226]:
#JS
for(let i = 0; i < 10 ; i++){
    
}

SyntaxError: invalid syntax (2812109812.py, line 2)

In [227]:
for i in [0, 1, 2, ... , 10000000]

SyntaxError: invalid syntax (2885840854.py, line 1)

In [230]:
for i in range(10):
    print(i, end = "")

0123456789

In [231]:
for i in range(1, 10):
    print(i, end = "")

123456789

In [232]:
for i in range(1, 10, 2):
    print(i, end = "")

13579

In [233]:
for i in range(2, 10, 2):
    print(i, end = "")

2468

In [236]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [237]:
result = []
for num in a :
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [238]:
result = []
for num in a :
    if num % 2 == 0:
        result.append(num*3)
print(result)

[6, 12]

In [240]:
result = []
for dan in range(2,10):
    for gop in range(1,10):
        result.append(dan * gop)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [241]:
#console.log
print("life" + " is" + " too short")

life is too short

In [307]:
text = "발사"
for time in range(60, 0, -1):
    
    print(time, end = " ")
print(text)

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 발사

In [259]:
a = 1
b = 2
c = 3
print(a, b, c, sep = "/")

1/2/3

In [268]:
a = input()

3

In [269]:
a

'3'

In [270]:
int(a)+1

4

In [330]:
for h in range(1, 10):
    for y in range(1, 10):
        print(h * y, end = " ")
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:

for i in range(7, 1, -1):
    for j in range(1, 7):
        print(i, end = " ")
        print(j, end = " ")
print()